<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NUM.cl</title>

    <meta name="functions-insert-dynamic-meta">
    <meta name="functions-insert-dynamic-og">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <style>
      .badge {
        background-color: #7799ff;
      }
      .copy_btn {
        color: white;
      }
    </style>

    <div class="container">

      <div class="text-center">
        <h1>$user_name</h1>
        <p>Mis datos bancarios son:</p>
      </div>

      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Name" class="copy_btn" data-clipboard-text="$user_name">copiar</a>
            </span>
            Nombre: <b>$user_name</b>
          </li>
            <li class="list-group-item">
              <span class="badge">
                <a href="#" name="Rut" class="copy_btn" data-clipboard-text="$user_rut">copiar</a>
              </span>
              Rut: <b>$user_rut</b>
            </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Nombre del Banco"  class="copy_btn" data-clipboard-text="$bank_name">copiar</a>
            </span>
            Banco: <b>$bank_name</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Tipo de Cuenta"  class="copy_btn" data-clipboard-text="$account_type">copiar</a>
            </span>
            Tipo: <b>$account_type</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Número de Cuenta"  class="copy_btn" data-clipboard-text="$account_number">copiar</a>
            </span>
            Número: <b>$account_number</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Email"  class="copy_btn" data-clipboard-text="$user_email">copiar</a>
            </span>
            Email: <b>$user_email</b>
          </li>
        </ul>

        <div class="text-center">
          <button type="button" class="btn btn-primary copy_btn" data-clipboard-text="$full_data">
            Copiar todos los datos
          </button>
        </div>

        <!-- <div class="text-center">
          <h4>¿Acabas de conocer num.cl?</h4>
          <p>¡Te invitamos a <b><%= link_to root_path do %>registrar<% end %></b> también tus datos!</p>
          <h4>¿Tus datos están incorrectos?</h4>
          <p>Simplemente <b><%= link_to root_path do %>vuelve a registrarte<% end %></b> con tu mismo email :)</p>
        </div> -->
      </div>
    </div>

    <script>
      var clipboard = new Clipboard('.copy_btn');

      clipboard.on('success', function(e) {
        var original_text = e.trigger.innerHTML
        e.trigger.innerHTML = '¡COPIADO!';
        setTimeout(function() {
          e.trigger.innerHTML = original_text;
        }, 1000);
      });
    </script>
  </body>
</html>
