<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NUM.cl</title>

    <meta name="functions-insert-dynamic-og">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  </head>

  <body class="landing-layout">
    <div class="landing-layout__nav">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">num.cl</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="">¿Qué es num.cl?</a></li>
              <li><a href="">Quiénes somos</a></li>
              <li><a href="">Contacto</a></li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">

      <div class="text-center">
        <h1>$user_name</h1>
        <p>Mis datos bancarios son:</p>
      </div>

      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Name" class="copy_btn" data-clipboard-text="$user_name">copiar</a>
            </span>
            Nombre: <b>$user_name</b>
          </li>
            <li class="list-group-item">
              <span class="badge">
                <a href="#" name="Rut" class="copy_btn" data-clipboard-text="$user_rut">copiar</a>
              </span>
              Rut: <b>$user_rut</b>
            </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Nombre del Banco"  class="copy_btn" data-clipboard-text="$bank_name">copiar</a>
            </span>
            Banco: <b>$bank_name</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Tipo de Cuenta"  class="copy_btn" data-clipboard-text="$account_type">copiar</a>
            </span>
            Tipo: <b>$account_type</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Número de Cuenta"  class="copy_btn" data-clipboard-text="$account_number">copiar</a>
            </span>
            Número: <b>$account_number</b>
          </li>

          <li class="list-group-item">
            <span class="badge">
              <a href="#" name="Email"  class="copy_btn" data-clipboard-text="$user_email">copiar</a>
            </span>
            Email: <b>$user_email</b>
          </li>
        </ul>

        <div class="text-center">
          <button type="button" class="btn btn-primary copy_btn" data-clipboard-text="$full_data">
            Copiar todos los datos
          </button>
        </div>

        <!-- <div class="text-center">
          <h4>¿Acabas de conocer num.cl?</h4>
          <p>¡Te invitamos a <b><%= link_to root_path do %>registrar<% end %></b> también tus datos!</p>
          <h4>¿Tus datos están incorrectos?</h4>
          <p>Simplemente <b><%= link_to root_path do %>vuelve a registrarte<% end %></b> con tu mismo email :)</p>
        </div> -->
      </div>
    </div>

    <script>
      var clipboard = new Clipboard('.copy_btn');

      clipboard.on('success', function(e) {
        var original_text = e.trigger.innerHTML
        e.trigger.innerHTML = '¡COPIADO!';
        setTimeout(function() {
          e.trigger.innerHTML = original_text;
        }, 1000);
      });
    </script>

    <div class="panel-landing__wrapper">
      <div class="panel-landing">
      </div>
    </div>
    <div class="footer">
      <div class="footer__up"></div>
      <div class="footer__down"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
